<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Error</title>
  <style>
    h1 {
      text-align: center;
    }
    h2 {
      text-align: center;
    }
    h3, h6 {
      text-align: center;
    }
  </style>
</head>
<body>
<h1>Something went wrong.</h1>
<h2>(this is an error page)</h2>
<h3>(probably your access is deanied or URL is wrong)</h3>
<h6>
  <a th:href="@{'/'}">Root</a>
</h6>
</body>
</html>