<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
<h2 th:text="${message}"></h2>
<ul>
    <li>
        → <a th:href="@{/user}">User Panel</a>
    </li>
    <li>
        → <a th:href="@{/logout}">Logout</a>
    </li>
</ul>
<ul>
    <li>
        <a th:href="@{'https://www.youtube.com/watch?v=SxZzDZ0SZlI'}">
            Check out the video!
        </a>
    </li>
</ul>
</body>
</html>